* {
  font-family: 'Outfit', sans-serif;
}

.bg {
  background-color:  hsl(218, 23%, 16%);
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}